.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;
	background-color: #111111;
    color: #f8f5ed;
    filter: alpha(opacity=50);
	top: 0;
	left: 0;
	right: 0;		


}

.nav {
    color: #f8f5ed;

}

h1 {
	font-family: 'Lato', sans-serif;
  	padding: 50px;
	}

h4 {
	font-family: 'Lato';
    
	
}

.title {
    font-family: 'Open Sans Condensed', sans-serif;
     background-image: url(/Img/sq.png);
}

.contactPage {
    background-image: url('/Img/bentley.png');
    position: absolute;
    top: 0;
    width: 100%;
    height: 25%;
    border: 2px solid black;
    
} 


#contact-body {
    top: 0;
    color: #f8f5ed;
	background-color: #1c6778;
    font-family: 'Open Sans Condensed', sans-serif;
    height: 75%;
}

#divider-small-border {
    color: #ff8080;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

#map-canvas {
	position: absolute;
    top: 500;
    /*top defines; the maps starting point*/
    left: 0;
    width: 100%;
    height:50%;
    border: 2px solid black;
    
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
	/*border: 2px solid ;*/
  
}

#contact {
    color: #f8f5ed;
    background-image: url('/Img/bluePad.png');

    /*background-image: url(/Img/login2.png);*/
}

.about-text {

        padding: 0px 30px;
        text-align: center;
}

#footer {

    background-color: black;
    /*opacity: 0.5;*/
    color: #f8f5ed;
    font-family: 'Open Sans Condensed', sans-serif;
}

/* Contact CSS and Social Media Icons*/




.afsana-style, .afsana-form textarea {
    background: transparent;
    border-radius: 30px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    color: #fff;
    height: auto;
    padding: 0.5em;
    font-size: 1.3em;
}

.afsana-style:hover, .afsana-form textarea:hover,
.afsana-style:active, .afsana-form textarea:active ,
.afsana-style:focus, .afsana-form textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: #00578b!important;
}

.afsana-btn {
    font-size: 1.5em;
    padding: 0.6em 0;
    width: 100%;
    border-radius: 10px;
    background: #9c27b0;
    border-color: #9c27b0;
    margin-top: -15px;
}

.afsana-btn:hover {
    background: transparent;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.facebook-box {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.facebook-box iframe {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.social-icons ul {
    padding: 0;
    margin: 6px 0 0;
    text-align: center;
}

.social-icons ul li {
    display: inline-block;
    list-style: none;
    height: 50px;
    width: 50px;
    margin: 0px 5px;
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
    transition: 0.4s ease;
}

.social-icons ul li a {
    font-size: 2em;
    line-height: 0em;
    display: inline-block;
    padding: 11px 0px;
    color: #fff;
}

.social-icons ul li a i {
}

.facebook {
    background: #3b5998;
    border-color: #3b5998 !important;
}
.twitter {
    background: #00aced;
    border-color: #00aced !important;
}
.googleplus {
    background: #dd4b39;
    border-color: #dd4b39 !important;
}
.github {
    background: #999999;
    border-color: #999999 !important;
}
.linkedin {
    background: #007bb6;
    border-color: #007bb6 !important;
}
.youtube {
    background: #bb0000;
    border-color: #bb0000 !important;
}
.social-icons ul li:hover {
    background: transparent;
}


