/*//////////Nav Bar////////////////////////////////////////////////*/
.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #000000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    top: 0;
    left: 0;
    right: 0;       
    

}

/*.nav {
    color: #f8f5ed;
    
}*/

h1 {
    font-family: 'Lato', sans-serif;
    padding: 50px;
    }

h4 {
    font-family: 'Lato';
    
    
}

/*/////////////////////////////////////////////////////////////////*/
body {
  background-color: #05465e;
  font-family: 'Open Sans Condensed', sans-serif;

}


.page-divider {
   /* padding: 250px;*/
    margin: 50px;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: #e4e4e4;
}

.container {
    padding: 350px;
    margin: 0px;
}

.center {
    background-image: url('/Img/sq.png');
}

div.img {
    border: 1px solid #ccc;

}

div.img:hover {
    border: 1.80px solid #3399cc;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

#head-canvas {
  position: absolute;
    top: 500;
    /*top defines; the maps starting point*/
    left: 0;
    width: 100%;
    height:50%;
    border: 2px solid black;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-image: url('/Img/interior.png');
    border: 2px solid ;
    color: #f6eaea;
    font-size: 1700%;

    text-align: center;
  
}

.responsive {
    padding: 6px 6px;
    float: left;
    width: 24.99999%;
}

.footer {
    margin-top: 90px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-head {
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

footer.ft-text {
    color: black;
    font-size: 15px;
    line-height: 25px;
    margin-top: 0;
    display: inline-block;
}
 .col-md-3 {
    top: 5px;
    width: 35%;
    height: 255px;
    background-color: #3259ab;
    position: relative;
    float: left;
    padding: 5px;
    color: white;
    text-align: center;
 }

 .col-md-6 {
    /*position: relative;*/
    top: 5px;
    width: 30%;
    height: 255px;
    background-color: #3259ab;
    color: white;
    /*background-color: #00759a;
*/  float: left;
    margin: 0px;
    padding: 4px;
    text-align: right;
 }

 #deployed-by {
    position: absolute;
    top: 1099px ;
    /*top defines; the maps starting point*/
    left: 0;
    width: 100%;
    height: 50%;
    border: 2px solid black;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-image: url('/Img/details.png');
    border: 2px solid ;
    color: black;
    
    text-align: center;
  
}

a.hiddenTab {
    visibility:hidden;
    display:none;
}

 .col-md-12 {
    font-size: 13px;
    color: #a8b1b6;
    margin-left: 0px;
}

#social-links a {
    color: #a8b1b6;
    height: 40px;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 30px;
    display: inline-block;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




  
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

