/*.thumbPicBorder {
  position: relative;
  padding-bottom: 20%;
  height: 0;
}

.thumbnails {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: teal; 
}*/

.page-divider {
   /* padding: 250px;*/
    margin: 50px;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: #e4e4e4;
}

.container {
    background-image: url('/Img/sq.png');
    padding: 350px;
    margin: 0px;
  
}

div.img {
    border: 1px solid #ccc;

}

div.img:hover {
    border: 1.80px solid #3399cc;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

#map-canvas {
  position: absolute;
    top: 500;
    /*top defines; the maps starting point*/
    left: 0;
    width: 100%;
    height:50%;
    border: 2px solid black;
    
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-image: url('/Img/ENVILogo.png');
  /*border: 2px solid ;*/
  
}

.responsive {
    padding: 6px 6px;
    float: left;
    width: 24.99999%;
}

.footer {
    margin-top: 90px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;


}

.footer-head {
    color: black;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

footer.ft-text {
    color: black;
    font-size: 15px;
    line-height: 25px;
    margin-top: 0;
    display: inline-block;
}
 .col-md-3 {
    width: 25%;
    background-image: url('/Img/sq.png');
    position: relative;
 }
 
 /*#mid {
    width: 25%;
    background-image: url('/Img/sq.png');
 }*/

 .col-md-6 {
    position: relative;
    width: 50%;
    color: white;
    float: right;
 }
  
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

