
/* table styling for the output in HTML*/
 table{
    font-family:'Lato', sans-serif;
    border:none;
    width: 25%;
}

h3{
   font-family: 'Lato', sans-serif;
   color: #708090;
   padding: 5px;
   margin: 10px;
}

td, th {
    border: 0px solid #dddddd;
    text-align: left;
    font-style: italic;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

body {
  background-image: url("/img/concrete_wall/concrete_wall.png");
}

.container {
background-image: url("/img/maze/maze.png");
-webkit-border-radius: 0px 0px 13px 13px;
-moz-border-radius: 0px 0px 13px 13px;
border-radius: 0px 0px 13px 13px;
font-family: 'Lato', sans-serif;
float: left;
height: 50px;
width: 1425px;
padding: 0px;
-webkit-box-shadow: -2px 1px 7px 0px rgba(141,141,217,1);
-moz-box-shadow: -2px 1px 7px 0px rgba(141,141,217,1);
box-shadow: -2px 1px 7px 0px rgba(141,141,217,1);

}

.box1 {
  background-image: url("/img/maze/maze.png");
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  font-family: 'Lato', sans-serif;
  float:left;
  margin: 10px;
  padding: 10px;
  height: 200px;
  width: 200px;
  -webkit-box-shadow: -2px 1px 7px 0px rgba(141,141,217,1);
  -moz-box-shadow: -2px 1px 7px 0px rgba(141,141,217,1);
  box-shadow: -2px 1px 7px 0px rgba(141,141,217,1);
}
/*

.box2 {
  background-image: url("/img/maze/maze.png");
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  font-family: 'Lato', sans-serif;
  float:left; 
  margin: 10px;
  padding:10px;
  height: 200px;
  width:200px;

}

.box3 {
  background-image: url("/img/maze/maze.png");
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  font-family: 'Lato', sans-serif;
  float: left;
  margin: 10px;
  padding:10px;
  height: 200px;
  width:200px;
  
}*/

/* box radius' were made at www.cssround.com */
