body {
	background-image: url('/Img/maze2X.png');
}

.row{
    margin-top:40px;
    padding: 0 10px;
}

.clickable{
	cursor: pointer;   
}

.panel-heading div {
	background-image: url('/Img/ice.png');
	height: 30px;
	width: 500px;
	margin-top: -18px;
	font-size: 15px;
}

.panel-heading div span{
	margin-left:5px;
}

.panel-body{
	/*display: none;*/
	margin-top: -25px;
	float: left;
	height: 50px;
	/*width: 500px;*/
}